---
layout: post
title: "Use Salted Meat Instead Of Soy Sauce For Better Fried Rice"
date: 2013-03-16 22:33
comments: true
categories: 
- Cooking
- Food
- Recipes
---

.columnized
  p I thought it might be nice to take a break from my regularly scheduled programming and share with you a great insight I've had recently about fried rice.  Here in America, fried rice usually brings to mind Panda Express and a steam pan of dried-out white rice turned brown by the addition of soy sauce.  In my younger days I would always opt for it because I thought white rice was boring, but it's never been that appetizing.<sup>1</sup>

  p Oddly, in the five months I spent in China, I never came across fried rice, so my conception of it never evolved beyond the Panda&nbspExpress version.  Then a few weeks ago at a restaurant<sup>2</sup> in the San Gabriel Valley, I was served the pictured bowl of fried rice.

  img(src="/generated/fried_rice-630x469-d569f0.jpg", width="460px", style="float:left")

  p It was a revelation!  No soy sauce whatsoever.  It was moist and ten times as delicious as the slop I'd been eating at Panda.  The secret, as it turned out, was that the rice was dotted with tiny cubes of salted pork.  That mixed with sliced scallions and tossed with oil in a wok for a couple minutes was a big draw for this restaurant, eulogized on Yelp and ordered at every table.

  p Shortly thereafter I accidentally bought some 塩鮭 at a Japanese supermarket.  That is, salted salmon.  (It's not my fault; in English it was only labeled "Salmon".  It's usually latinized as some variation on shioyake, shiojake, or shiozake.)  At any rate, it's intensely salty.  Unable to eat it as I had originally intended, I realized that it would be the perfect ingredient for a fried rice dish inspired by my earlier experience.  Hence the following recipe was born:

div.divider

h2 Salmon Fried Rice

.columnized

  h3 Ingredients
  ul
    li Japanese Salted Salmon or Chinese Salted Pork (4 oz or less)
    li cooked white rice (measured as 2 cups before cooking);
    li scallions (to taste, probably at least 3 of them)
    li edamame and/or peas (to taste, optional)
    li 1 or 2 eggs, scrambled (optional, cook them separately!)
  h3 Instructions

  ol
    li Cook the rice.<sup>3</sup>

    li When the rice is done, cook the salmon until it flakes easily.  Remember that it will keep cooking after you take it off the heat, so aim for it to be slighly undercooked when you do. (I just throw it in the microwave for about a minute on high). Flake the salmon into a bowl.

    li Heat up a pan and scramble the eggs.  Make sure the pan is clean afterwards; get rid of anything stuck to it before you proceed.

    li Oil the pan.  I use a combination of Peanut Oil (or Canola Oil) and a dash of Sesame Oil for aroma and flavor.  A tablespoon or oil is really probably enough depending on your pan, it's plenty for a nicely seasoned wok.  Heat it until the oil smokes.

    li Dump in the rice and break it up in the pan, then add the rest of the ingredients.  Mix everything together and stir-fry for a minute or two, until you get everything distributed and are satisfied with the rice.  Some people like it drier, I like mine to stay moist.  You aren't going for color in this case.

    li Do not add soy sauce!  You will regret adding anything salty to this, that salmon is intense!

    li Serve and eat.