<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="/favicon.ico?v=3" />
	<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-152x152.png" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
	
    <script type="text/javascript" src="/js/picturefill_matchmedia.js"></script>
    <script type="text/javascript" src="//use.typekit.net/sje1dhr.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load({
          active: function () {
          }
        })
      } catch (e) {
        console.log(e);
      }
    </script>

	<script type="text/javascript" src="/js/modernizr.custom.15501.js"></script>

  </head>
  <body>
  	<header class="tk-omnes-pro">
  		<!-- <h1>John Starr Dewar</h1> -->
		<!-- <div>
			John
		</div>
		<div>
			Starr
		</div>
		<div>
			Dewar
		</div> -->
			<div id="pic">
			</div>
  		<div id="nav">
  			<a href="/about">About</a>
  			<a href="/">Posts</a>
			<a href="http://www.123contactform.com/form-724791/Email-Me">Email</a>
  			<a href="/follow">Follow</a>
  		</div>
	</header>
	  <div id="topStripe" class="stripe"></div>
  	  <div id="topMargin" class="margin"></div>


    <div id="main" class="container">
		
		<!-- <header class="tk-omnes-pro">
			<h1>John Starr Dewar</h1>
			<div id="nav">
				<a>Blog</a>
				<a>About</a>
				<a>Projects</a>
				<a>Contact</a>
			</div>
		</header> -->

			<!-- <div id="name">
				JOHN STARR DEWAR
			</div> -->
      <div class="site tk-freight-sans-pro">
        {{ content }}
      </div>
    </div>
  <div id="bottomMargin" class="margin"></div>
  <div id="bottomStripe" class="stripe"></div>
  <script type="text/javascript">
  var topStripe = document.getElementById("bottomStripe");
  var topMargin = document.getElementById("bottomMargin");
  var mainContent = document.getElementById("main");
  var bottomStripe = document.getElementById("bottomStripe");
  var bottomMargin = document.getElementById("bottomMargin");
  
  var decorationHeight = topStripe.offsetHeight + topMargin.offsetHeight + bottomStripe.offsetHeight;
  var bottomMarginHeight = bottomMargin.offsetHeight;
  
  var seconds = 0;
  
  function checkHeight() {
	  setTimeout(function () {
		  var totalHeight = decorationHeight + mainContent.offsetHeight;
		  
		  if (totalHeight + bottomMarginHeight < window.innerHeight) {
			  if (window.innerHeight - totalHeight < 0) {
				  bottomMargin.style.height = "2rem";
				  } else {
					  bottomMargin.style.height = (window.innerHeight - totalHeight) + "px";
				  	
				  }
		  }
		  if (seconds < 30) {
			  seconds++;
			  checkHeight();
		  }
	  }, 1000);
  }
  checkHeight();
  
  /* 
  if (!Modernizr.flexwrap && window.innerHeight > bottomStripe.offsetTop + 10) {
	  bottomStripe.parentNode.removeChild(bottomStripe);
  }*/
  </script>
    <!-- /container

    <a class="twitter-timeline" href="https://twitter.com/jstarrdewar" data-widget-id="377253789658402816">Tweets by @jstarrdewar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

-->


  </body>
</html>
