<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="/js/picturefill_matchmedia.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/sje1dhr.js"></script>
    <script type="text/javascript">
      try {
        Typekit.load({
          active: function () {
          }
        })
      } catch (e) {
        console.log(e);
      }
    </script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
  	<header class="tk-omnes-pro">
  		<!-- <h1>John Starr Dewar</h1> -->
		<div>
			John
		</div>
		<div>
			Starr
		</div>
		<div>
			Dewar
		</div>
  		<div id="nav">
  			<a>About</a>
  			<a>Posts</a>
			<a>Work</a>
  			<a>Follow</a>
  		</div>
	</header>
	  <div id="topStripe" class="stripe"></div>
	  <div class="bottom-margin"></div>


    <div class="container">
		<!-- <header class="tk-omnes-pro">
			<h1>John Starr Dewar</h1>
			<div id="nav">
				<a>Blog</a>
				<a>About</a>
				<a>Projects</a>
				<a>Contact</a>
			</div>
		</header> -->

			<!-- <div id="name">
				JOHN STARR DEWAR
			</div> -->
      <div class="site tk-freight-sans-pro">
        {{ content }}
      </div>
	  <div class="bottom-margin"></div>
    </div>
  <div id="bottomStripe" class="stripe"></div>
	
    <!-- /container

    <a class="twitter-timeline" href="https://twitter.com/jstarrdewar" data-widget-id="377253789658402816">Tweets by @jstarrdewar</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

-->


  </body>
</html>
